html {
    font-size: 10px;
    line-height: 1.25px;
}

body {
    background-color: rgb(65,65,65);
    margin: 0 auto;
}

header {
    display: inline-block;
}

header h1 {
    font-size: 2.3rem;
    background-color: rgb(220,220,220);
    color: rgb(65,65,65);
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    padding: 2.5rem;
    width: 48.5%;
}

header nav {
    width: 48.5%;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li img {
    width: 113px;
    height: 62px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
}